#sixth-tab{
    color: aquamarine;
    background-color: black;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    color: white;
    background-color: cadetblue;
    background-attachment: scroll;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr{
    height: 10px;
    border: none;
    background-image: repeating-linear-gradient(
        -45deg,
        grey,
        grey 5px,
        white 5px,
        white 10px
    );
}

.p1{
    text-align: justify;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

div{
    width: 500px;
    height: 100px;
    overflow:scroll;
}

div p::first-line{
    color: blue;
}

div p::first-letter{
    color: red;
    font-size: 30px;
}

#link-to-tab1{
    text-decoration: none;
    color: wheat;
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#link-2-tab1{
    color: black;
    text-decoration: none;
}

#link-2-tab1:hover{
    color: green;
}

#link-2-tab1:active{
    color: red;
}

#table1,th,td{
    border: 1px black solid;
    border-collapse: collapse;
    th,td{
        text-align: center;
        padding: 10px;
    }
    th{
        background-color: greenyellow;
    }
    td{
        background-color: lightblue;
    }
    caption-side: bottom;
}

a{
    display: block;
}

#a1{
    border-style: solid;
}

#a2{
    border-style: double;
}

#a3{
    border-style: dotted;
}

#a4{
    border-style: dashed;
}

#a5{
    border-style: ridge;
    border-color: red;
    border-width: 10px;
}

#a6{
    border-style: inset;
    border-color: blue;
    border-width: 10px;
}

#a7{
    border-right-style: outset;
    border-left-style: double;
    border-top-style: solid;
    border-bottom-style: dashed;
    border-radius: 10px;
    border-color: green;
    border-width: 10px;
    outline-style: dashed;
    outline-width: 0px;
}

#a8{
    display: none;
}

#first-child:first-child{
    color:blue
}